In [24]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
from pandas.io.json import json_normalize  # tranform JSON file into a pandas dataframe

import folium # map rendering library

# import k-means from clustering stage
from sklearn.cluster import KMeans

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

In [26]:
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
soup = BeautifulSoup(source, 'lxml')

table = soup.find("table")
table_rows = table.tbody.find_all("tr")

res = []
for tr in table_rows:
    td = tr.find_all("td")
    row = [tr.text for tr in td]
    
    # Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
    if row != [] and row[1] != "Not assigned":
        # If a cell has a borough but a "Not assigned" neighborhood, then the neighborhood will be the same as the borough.
        if "Not assigned" in row[2]: 
            row[2] = row[1]
        res.append(row)

# Dataframe with 3 columns
df = pd.DataFrame(res, columns = ["PostalCode", "Borough", "Neighborhood"])
df.head()

  PostalCode             Borough                 Neighborhood
0      M1A\n      Not assigned\n               Not assigned\n
1      M2A\n      Not assigned\n               Not assigned\n
2      M3A\n        North York\n                  Parkwoods\n
3      M4A\n        North York\n           Victoria Village\n
4      M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [22]:
pip install lxml

Requirement already satisfied: lxml in c:\users\jesuis\anaconda3\lib\site-packages (4.6.1)
Note: you may need to restart the kernel to use updated packages.

In [27]:
#Remove "\n" at the end of each string in the Neighborhood column
df["Neighborhood"] = df["Neighborhood"].str.replace("\n","")
df.head()

  PostalCode             Borough               Neighborhood
0      M1A\n      Not assigned\n               Not assigned
1      M2A\n      Not assigned\n               Not assigned
2      M3A\n        North York\n                  Parkwoods
3      M4A\n        North York\n           Victoria Village
4      M5A\n  Downtown Toronto\n  Regent Park, Harbourfront

In [43]:
#Remove "\n" at the end of each string in the PostalCode column
df["PostalCode"] = df["PostalCode"].str.replace("\n","")
df.head()

  PostalCode         Borough                            Neighborhood
0        M1A  Not assigned\n                            Not assigned
1        M1B   Scarborough\n                          Malvern, Rouge
2        M1C   Scarborough\n  Rouge Hill, Port Union, Highland Creek
3        M1E   Scarborough\n       Guildwood, Morningside, West Hill
4        M1G   Scarborough\n                                  Woburn

In [44]:
#Remove "\n" at the end of each string in the Borough column
df["Borough"] = df["Borough"].str.replace("\n","")
df.head()

  PostalCode       Borough                            Neighborhood
0        M1A  Not assigned                            Not assigned
1        M1B   Scarborough                          Malvern, Rouge
2        M1C   Scarborough  Rouge Hill, Port Union, Highland Creek
3        M1E   Scarborough       Guildwood, Morningside, West Hill
4        M1G   Scarborough                                  Woburn

In [45]:
#Group all neighborhoods with the same postal code
df = df.groupby(["PostalCode", "Borough"])["Neighborhood"].apply(", ".join).reset_index()
df.head(10)

  PostalCode       Borough                                     Neighborhood
0        M1A  Not assigned                                     Not assigned
1        M1B   Scarborough                                   Malvern, Rouge
2        M1C   Scarborough           Rouge Hill, Port Union, Highland Creek
3        M1E   Scarborough                Guildwood, Morningside, West Hill
4        M1G   Scarborough                                           Woburn
5        M1H   Scarborough                                        Cedarbrae
6        M1J   Scarborough                              Scarborough Village
7        M1K   Scarborough      Kennedy Park, Ionview, East Birchmount Park
8        M1L   Scarborough                  Golden Mile, Clairlea, Oakridge
9        M1M   Scarborough  Cliffside, Cliffcrest, Scarborough Village West

In [46]:
print("Shape: ", df.shape)

Shape:  (180, 3)

In [47]:
#We are not able to get the geohraphical coordinates of the neighborhoods using the Geocoder package, we use the given csv file instead.
df_geo_coor = pd.read_csv("http://cocl.us/Geospatial_data")
df_geo_coor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [48]:
#We need to couple 2 dataframes "df" and "df_geo_coor" into one dataframe.

df_toronto = pd.merge(df, df_geo_coor, how='left', left_on = 'PostalCode', right_on = 'Postal Code')
# remove the "Postal Code" column
df_toronto.drop("Postal Code", axis=1, inplace=True)
df_toronto.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1A,Not assigned,Not assigned,NaN,NaN
1,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
3,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
4,M1G,Scarborough,Woburn,43.770992,-79.216917